<!doctype html>
<html ng-app="g0vTxT">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>g0ver TxT</title>

        <link rel="stylesheet" type="text/css" href="assets/styles/global.css">
        <link rel="stylesheet" type="text/css" href="vendors/semantic-ui/0.17.0/css/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="assets/styles/hackpadViewer.css">
        <link rel="stylesheet" type="text/css" href="assets/styles/communiqueViewer.css">
        <link rel="stylesheet" type="text/css" href="assets/styles/visualize.css">
        <link rel="SHORTCUT ICON" href="assets/imgs/g0v.ico">

        <script type="text/javascript" src="vendors/jquery/1.11.1/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="vendors/d3js/3.4.6/d3.min.js"></script>
        <script type="text/javascript" src="vendors/semantic-ui/0.17.0/javascript/semantic.min.js"></script>
        <script type="text/javascript" src="vendors/angular/1.2.16/angular.min.js"></script>
        <script type="text/javascript" src="vendors/angular/1.2.16/angular-route.min.js"></script>
        <script type="text/javascript" src="assets/scripts/app.js"></script>
        <script type="text/javascript" src="assets/scripts/controllers.js"></script>

    </head>
    <body>
        <div class="ui center large menu" id="menu" ng-controller="menuCtrl">
            <a ng-class="home" ng-click="changeClass('home')" href="#/home">
                <i class="home icon"></i> Home
            </a>
            <a ng-class="visual" ng-click="changeClass('visual')" href="#/visualize">
                <i class="signal icon"></i> Hackpad Visualize
            </a>
            <a ng-class="hView" ng-click="changeClass('hView')" href="#/hackpadViewer">
                <i class="unhide icon"></i> Hackpad Viewer
            </a>
            <a ng-class="cView" ng-click="changeClass('cView')" href="#/communiqueViewer">
                <i class="unhide icon"></i> communique Viewer
            </a>
        </div>

        <div ng-view id="container"></div>

        <a href="https://github.com/jessy1092/g0vTxT"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
    </body>
</html>
