<!doctype html>
<html ng-app="communique">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>g0ver TxT</title>

        <link rel="stylesheet" type="text/css" href="../assets/styles/communique.css">
        <link rel="stylesheet" type="text/css" href="../vendors/semantic-ui/0.17.0/css/semantic.min.css">

        <script type="text/javascript" src="../vendors/jquery/1.11.1/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="../vendors/d3js/3.4.6/d3.min.js"></script>
        <script type="text/javascript" src="../vendors/semantic-ui/0.17.0/javascript/semantic.min.js"></script>
        <script type="text/javascript" src="../vendors/angular/1.2.16/angular.min.js"></script>
        <script type="text/javascript" src="../assets/scripts/communique.js"></script>
    </head>
    <body ng-controller="CommuniqueCtrl">

        <div id="container">
            <div id="left_container">
                <div id= "left_up_container">
                    <div class="ui selection dropdown">
                        <input type="hidden" name="date">
                        <div class="default text">{{defaultDate.year}} 年 {{defaultDate.month}} 月</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item" data-value="{{date.year + date.month}}" ng-repeat="date in dateList" ng-click="selectDate(date)">
                                {{date.year}} 年 {{date.month}} 月
                            </div>
                        </div>
                    </div>
                </div>

                <div id= "left_down_container">
                    <div class="ui form">
                        <div class="grouped inline fields">
                            <div class="field" ng-repeat="tagEntry in tagList">
                                <div class="ui radio checkbox" ng-click="showCommunique(tagEntry.name)">
                                    <input id="{{tagEntry.name}}"  type="radio" name="fruit">
                                    <label for="{{tagEntry.name}}">{{tagEntry.name}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="right_container" class="ui orange segment">
                <div id="right_entry" ng-repeat="tagEntry in communiqueTagList">
                    <div class="ui ribbon blue label">
                        {{tagEntry.name}}
                    </div>
                    <div class="ui raised segment" ng-bind-html="tagEntry.description"></div>
                    <div class="ui divided list">
                        <div class="item" ng-repeat="communiqueEntry in tagEntry.communiqueList">
                            <div id="communiqueDate" class="ui horizontal label" href="http://g0v.hackpad.com/{{communiqueEntry.padID}}" target="_blank">
                                {{communiqueEntry.date.substring(2, 11)}}
                            </div>
                            <div id="communiqueContent" ng-bind-html="communiqueEntry.content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
