<div class="ui vertical segment">
    <h2 class="ui header"><i class="calendar icon"></i>g0v Hackpad 產出日曆</h2>
    <div class="sub header">視覺化每個 pad 的誕生時間</div>

    <div class="ui segment hackpadData">
        <div class="ui top attached label">第一個 Pad 的誕生日期</div>
        <p>{{firstDate}}</p>
    </div>
    <div class="ui segment hackpadData">
        <div class="ui top attached label">歷史高點</div>
        <p>{{highestDate}}</p>
    </div>
    <div class="ui segment hackpadData">
        <div class="ui top attached label">Pad 總數</div>
        <p>{{totalPad}}</p>
    </div>

    <div class="ui segment" id="visualDateSVG">
        <div ng-class="visualHackpad">
            <div class="ui text loader">Loading</div>
        </div>
        <svg width="1100px" height="300px" viewBox="0 0 1100 300" preserveAspecRatio="xMidYMid" class="padTime"></svg>
        <div class="ui segment hidden" id="visualHackpadTip">
            <p id="visualHackpadTipTime"></p>
            <p id="visualHackpadTipNum"></p>
        </div>
    </div>

    <h2 class="ui header"><i class="edit icon"></i>g0ver 編輯次數排行榜</h2>
    <div class="sub header">視覺化每個 g0ver 編輯的次數</div>

    <div class="ui segment hackpadData">
        <div class="ui top attached label">編輯次數</div>
        <p>{{totalEdit}}</p>
    </div>

    <div class="ui segment hackpadData">
        <div class="ui top attached label">編輯人數</div>
        <p>{{totalAuthor}}</p>
    </div>

    <div class="ui segment" id="visualDateSVG">
        <div ng-class="visualAuthor">
            <div class="ui text loader">Loading</div>
        </div>
        <svg width="1100px" height="1100px" viewBox="0 0 1100 1100" preserveAspecRatio="xMidYMid" class="authorsEdit"></svg>
        <div id="visualHackpadAuthor" class="ui segment hidden">
            <div id="visualHackpadAuthorName" class="ui header"></div><div class="ui red circular label" id="visualHackpadEditNum"></div>
            <div class="4 ui fluid black buttons" id="visualHackpadAuthorPad"></div>
        </div>
    </div>
</div>
