@charset "utf-8";

/*-------------------------| Common |-------------------------*/

body {
    font-family:'Î¢Ü›ÕýºÚów';
    padding: 0;
    margin: 0;
    overflow-x:hidden;
    font: 15px sans-serif;
}

#container {
    margin: 0 auto;
    width: 1100px;
}

#left_container {
    margin-top: 35px;
    float: left;
    width: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

#left_down_container {
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
}

.ui.dropdown {
    margin: 5px;
}

.ui.form {
    margin: 5px;
}

#right_container {
    float: right;
    width: 870px;
    margin: 5px;
}

#right_entry {
    margin-top: 20px;
}

a {
    color: #0088CC;
    text-decoration: none;
    position: relative;
}

#communiqueDate {
    float: left;
    top:50%;
}

#communiqueContent {
    float: right;
    width: 740px;
}
