
#left_container {
    float: left;
    width: 200px;
    height: 780px;
    overflow-x: hidden;
    overflow-y: auto;
}

#right_container {
    float: right;
    width: 950px;
    height: 780px;
}

.showPad {
    margin-left: 10px;
    width: 100%;
    height: 100%;
    align: center;
    overflow-x: hidden;
    overflow-y: auto;
}
