@charset "utf-8";

#container {
    margin: 0 auto;
    margin-top: 20px;
    width: 1150px;
}

/*-------------------------| Svg |-------------------------*/

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
