@charset "utf-8";

/*-------------------------| Svg |-------------------------*/

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.ui.hackpadData {
    width: 200px;
    margin: 15px;
    float: left;
}

#visualDateSVG {
    margin-top: 120px;
}

#visualHackpadTip {
  position: absolute;
  width: auto;
  height: 80px;
}

#visualHackpadTip.hidden {
  display: none;
}
